node_modules
.dockerignore
Dockerfile
uploads/*
!uploads/default.png
!uploads/deli-2-ring-binder-a4.jpg
!uploads/deli-3-tier-document-tray.jpg
!uploads/deli-clear-packing-tape-48mm.jpg
!uploads/deli-glue-stick-21g.jpg
!uploads/deli-lever-arch-file-a4.jpg
!uploads/deli-mesh-pen-holder.jpg
!uploads/deli-retractable-ballpoint-pen-10-pcs.jpg
!uploads/deli-utility-knife-18mm.jpg
!uploads/faber-castell-fineliner-0-4mm.jpg
!uploads/faber-castell-hb-pencil-box-of-12.jpg
!uploads/kokuyo-spiral-notebook-b5.jpg
!uploads/maped-kids-safety-scissors-13cm.jpg
!uploads/maped-office-scissors-21cm.jpg
!uploads/pilot-bps-gp-ballpoint-pen-blue.jpg
!uploads/pilot-g2-gel-pen-0-7mm.jpg
!uploads/post-it-sticky-notes-76x76mm.jpg
!uploads/stabilo-mechanical-pencil-0-5mm.jpg
static/private/*