PORT=3030
HOST=0.0.0.0
SERVER=0.0.0.0
NODE_ENV=production
TOKEN_SECRET=secret
REFRESH_SECRET=secret
HASH_SECRET=secret
DATABASE_URL='mongodb://mongo:27017/app'
DEFAULT_PASSWORD='2026'
MAX_QUEUE_NUMBER=99
QUEUE_SOUND='default'
TELEGRAM_TOKEN=
TELEGRAM_API_URL='https://api.telegram.org/bot'
TELEGRAM_CHAT_ID=

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_SSL=false
MINIO_BUCKET=sereyhub-app
MINIO_ACCESS_KEY=secret
MINIO_SECRET_KEY=secret

INVOICE_PREFIX=INV
INVOICE_RESET_PERIOD=daily # daily|monthly|weekly|yearly
INVOICE_PAD_START=2

QZ_TRAY_PRIVATE_KEY_PATH=private-key.pem
QZ_TRAY_CERTIFICATE_PATH=digital-certificate.txt

AUDIT_LOG_EXPIRATION_DAYS=90

MONGO_DUMP_PATH='C:\\mongodb-database-tools-windows-x86_64-100.17.0\\bin\\mongodump'
MONGO_BACKUP_PATH='C:\\Backup'